$background_white: #f8f8fe;
$text_title_grey: #64667f;
$background_todolist: #ecedf5;
$background_notask: #d8d9db;
$text_default_grey: #7d7d80;
$background_button_violet: #666fe8;
$background_button_red: #dc3545;
$white: #ffffff;
